<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}<meta charset="UTF-8">
    <!-- Gloss CSS, JS, and Icons -->
    <link href="https://utahhealthcare.github.io/gloss-docs/gloss-source/dist/css/gloss.min.css?1594842797" rel="stylesheet">
    <script src="https://utahhealthcare.github.io/gloss-docs/gloss-source/dist/js/gloss.min.js?1594842797"></script>
    <script src="https://utahhealthcare.github.io/gloss-docs/gloss-source/dist/js/gloss-icons.min.js?1594842797"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- HTMX -->
     <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>{% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="gls-navbar gls-background-primary" gls-navbar>

        <div class="gls-navbar-left">
            <ul class="gls-navbar-nav">
                <img class="gls-margin-left" src="https://utahhealthcare.github.io/gloss-docs/images/uhealth-logo-inverse.svg" width="140">
                <li class="gls-margin-left"><a href="{% url 'index' %}">Home</a></li>
                <li class=""><a class="" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class=""><a href="{% url 'lists' %}">Lists</a></li>
                <li class=""><a href="{% url 'login' %}">About</a></li>
                <li class=""><a href="{% url 'login' %}">Contact</a></li>
            </ul>
        </div>
        <div class="gls-navbar-right">
            <ul class="gls-navbar-nav">
                {% if user.is_authenticated %}
                <li>
                    <a href="#" class="gls-margin-right" gls-icon="icon: user; ratio: 1.5">{{ user.first_name }}</a>
                    <div class="gls-navbar-dropdown">
                        <ul class="gls-nav gls-navbar-dropdown-nav">
                            <li class="gls-nav-header"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="gls-nav-divider"></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" gls-icon="icon: sign-out; ratio: 0.5">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li class="gls-navbar-nav"><a href="{% url 'login' %}">Login</a></li>
                <li class="gls-navbar-nav"><a href="{% url 'sign_up' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    <main>
        {% block content %}
        <div class="gls-container">
            <h1>Homepage</h1>
        </div>
        {% endblock %}
    </main>
</body>
</html>