{% extends "todo_list/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
    {% block navbar %}{% endblock %}\
    {% block content %}
    <form method="post" class="gls-container gls-background-muted">
        
        <h1>Login</h1>
        <fieldset class="gls-fieldset">
            {% if form.non_field_errors %}
                <div class="gls-text-danger">{{ form.non_field_errors.0 }}</div>
            {% endif %}
            <div class="gls-margin">
                {{ form.username }}
                {{ form.username.errors}}

            </div>
            <div class="gls-margin">
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div class="gls-margin">
                <button type="submit" class="gls-button gls-button-default">Login</button>
            </div>

        </fieldset>
        <p><a href="{% url 'index' %}">Back to Home</a></p>
        {% csrf_token %}
    </form>
    {% endblock %}
</body>

</html>