{% extends "todo_list/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
    {% block navbar %}{% endblock %}\
    {% block content %}
    <form method="post" class="gls-container gls-background-secondary gls-margin-large-top">
        
        <fieldset class="gls-fieldset ">
            <h1 class="gls-margin-medium-top">Login</h1>
            {% if form.non_field_errors %}
                <div class="gls-text-danger">{{ form.non_field_errors.0 }}</div>
            {% endif %}
            <div class="gls-margin">
                {{ form.username }}
                {{ form.username.errors}}

            </div>
            <div class="gls-margin">
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div class="gls-margin gls-flex gls-flex-middle  gls-flex-row">
                <button type="submit" class="gls-button gls-button-default">Login</button>
                <span class="gls-padding gls-padding-remove-vertical">OR</span>
                <a href="{% url 'sign_up' %}" class="gls-button gls-button-default">Sign Up</a>
            </div>


        </fieldset>
        <p><a href="{% url 'index' %}">Back to Home</a></p>
        {% csrf_token %}
    </form>
    {% endblock %}
</body>

</html>