{% extends "todo_list/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Sign Up{% endblock %}</title>
</head>

<body>
    {% block navbar %}{% endblock %}
    {% block content %}
    <form method="post" class="gls-container gls-background-secondary gls-margin-large-top">

        <h1 class="gls-margin-medium-top">Sign Up</h1>
        <fieldset class="gls-fieldset">
            {% if form.non_field_errors %}
                <div class="gls-text-danger">{{ form.non_field_errors.0 }}</div>
            {% endif %}
            <div class="gls-margin">
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="gls-margin">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="gls-margin">
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="gls-margin">
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="gls-margin">
                <button type="submit" class="gls-button gls-button-default">Sign Up</button>
            </div>
        </fieldset>
        <p><a href="{% url 'index' %}">Back to Home</a></p>
        {% csrf_token %}
    </form>
    {% endblock %}
</body>

</html>