{% extends "todo_list/index.html" %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Sign Up{% endblock %}</title>
</head>

<body>
    {% block navbar %}{% endblock %}
    {% block content %}
    <form method="post" class="gls-container gls-background-secondary gls-margin-large-top">

        <h1 class="gls-margin-medium-top">Sign Up</h1>
        <fieldset class="gls-fieldset">
            {% if form.non_field_errors %}
                <div class="gls-text-warning">{{ form.non_field_errors.0 }}</div>
            {% endif %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }} gls-text-warning"{% endif %}>
                        {{ message }}
                    
                    {% endfor %}
                </div>
                {% endif %}
            <div class="gls-margin">
                {% render_field form.first_name class="gls-input" placeholder="First Name" %}
                {{ form.first_name.errors }}
            </div>
            <div class="gls-margin">
                {% render_field form.last_name class="gls-input" placeholder="Last Name" %}
                {{ form.last_name.errors }}
            </div>
            <div class="gls-margin">
                {% render_field form.username class="gls-input" placeholder="Username" hx-post="/check_username/" hx-swap="outerhtml" hx-trigger="keyup delay:500ms" hx-target="#username-error" %}
                <div id="username-error"></div>
                {{ form.username.errors }}
            </div>
            <div class="gls-margin">
                {% render_field form.email class="gls-input" placeholder="Email" hx-post="/check_email/" hx-swap="outerhtml" hx-trigger="keyup delay:500ms" hx-target="#email-error" %}
                <div id="email-error"></div>
                {{ form.email.errors }}
            </div>
            <div class="gls-margin">
                {% render_field form.password1 class="gls-input" placeholder="Password" %}
                {{ form.password1.errors }}
            </div>
            <div class="gls-margin">
                {% render_field form.password2 class="gls-input" placeholder="Confirm Password" %}
                {{ form.password2.errors }}
            </div>
            <div class="gls-margin">
                <button type="submit" class="gls-button gls-button-default">Sign Up</button>
            </div>
        </fieldset>
        <p><a href="{% url 'index' %}">Back to Home</a></p>
        {% csrf_token %}
    </form>
    {% endblock %}
</body>

</html>