{% load widget_tweaks %}

<div class="gls-container">
    <ul class="gls-list" id="container">
        {% for task in tasks %} <!-- Iterate through the user's tasks and display them -->
        <li class=" gls-button gls-button-tertiary gls-margin  gls-margin-remove-left gls-padding-small" gls-toggle="target: #detail_modal_{{ task.id }}" gls-grid>
            <strong class="gls-width-1-6 gls-text-left gls-padding-remove-left">{{ task.task|truncatechars:23 }}</strong>
            <p class="gls-width-expand gls-text-left">{{ task.description|truncatechars:80 }}</p>
            <small class="gls-width-auto gls-text-right">Created: {{ task.created_at|date:"M d, Y" }}</small>

            {% if not task.is_complete %} <!-- Check to see if the task is complete or not and change button accordingly-->
            <form class="gls-width-1-6 gls-text-right" hx-post="{% url 'complete_task' %}" hx-target="#container">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ task.id }}">
                <button type="submit" class="gls-button gls-button-default gls-button-small" onclick="event.stopPropagation()">Complete Task</button>
            </form>
            {% else %}
            <form class="gls-width-1-6 gls-text-right" hx-post="{% url 'complete_task' %}" hx-target="#container">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ task.id }}">
                <button type="submit" class="gls-button gls-button-secondary gls-button-small" onclick="event.stopPropagation()">Un-Complete</button>
            </form>
            {% endif %}
        </li>
        {% empty %}
        <li>You have no checklist items yet.</li>
        {% endfor %}
    </ul>
</div>

<!--
    MODALS
-->


<div class="gls-hidden">
    <!-- Modal to display the full details of the task as well as an edit and delete button -->
    {% for task in tasks %}
    <div  id="detail_modal_{{ task.id }}" gls-modal tabindex="-1">
        <div class="gls-modal-dialog gls-margin-auto-vertical gls-modal-body">
            <button class="gls-modal-close-default" type="button" gls-close></button>
            <div class="gls-modal-header">
                <h2 class="gls-modal-title">{{ task.task }}</h2>
            </div>
            <div class="gls-modal-body gls-margin">
                {% if task.description %}
                {{ task.description }}
                {% else %}
                There is no description for this task!
                {% endif %}
            </div>
            <div class="gls-modal-footer gls-text-right">
                <small class="gls-align-left gls-width-auto">Created On: {{ task.created_at }}</small>
                <div class="gls-flex gls-flex-around">
                    <form class="">
                        {% csrf_token %}
                        <button class="gls-button gls-button-secondary">Edit</button>
                        <input type="hidden" name="id" value="{{ task.id }}">
                        <button type="submit" class="gls-button gls-button-danger gls-modal-close" hx-post="{% url 'delete_task' %}" hx-target="#container">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



